<nav
  class="h-[57px] bg-neutral-800 w-full flex text-white justify-between items-center px-24"
>
  <p class="font-bold text-2xl">EventT5</p>
  <div class="flex gap-4">
    <p class="cursor-pointer text-gray-400 hover:text-white">Accueil</p>
    <p class="cursor-pointer text-gray-400 hover:text-white">Événements</p>
    <p class="cursor-pointer text-gray-400 hover:text-white">Mes Tickets</p>
    <p class="cursor-pointer text-gray-400 hover:text-white">Feedback</p>
    <p class="cursor-pointer text-gray-400 hover:text-white">Se connecter</p>
  </div>
</nav>
