<nav
  class="h-[57px] bg-primary w-full flex text-white justify-between items-center px-24"
>
  <p class="select-none cursor-pointer font-bold text-2xl">EventT5</p>
  <div class="flex gap-4">
    <a
      href="/"
      class="select-none cursor-pointer text-gray-400 hover:text-white"
    >
      Accueil
    </a>
    <a
      href="/evenements"
      class="select-none cursor-pointer text-gray-400 hover:text-white"
    >
      Événements
    </a>
    <a
      href="/mes-tickets"
      class="select-none cursor-pointer text-gray-400 hover:text-white"
    >
      Mes Tickets
    </a>
    <a
      href="/feedback"
      class="select-none cursor-pointer text-gray-400 hover:text-white"
    >
      Feedback
    </a>
    <a
      href="/sign-in"
      class="select-none cursor-pointer text-gray-400 hover:text-white"
    >
      Se connecter
    </a>
  </div>
</nav>
