<div class="bg-primary text-white">
  <div class="flex px-20 py-5 justify-between">
    <div>
      <p class="font-bold text-[1.25rem] my-2">EventT5</p>
      <p>
        Plateforme de gestion d’événements, billetterie en ligne et feedback.
      </p>
    </div>
    <div>
      <p class="font-bold my-2">Liens</p>
      <p><a href="" class="underline">Événements</a></p>
      <p><a href="" class="underline">Mes Tickets</a></p>
      <p><a href="" class="underline">Feedback</a></p>
      <p><a href="" class="underline">Se connecter</a></p>
    </div>

    <div>
      <p class="font-bold my-2">Contact</p>
      <p>
        Email :
        <a href="mailto:contact/eventt5.tn" class="underline"
          >contact/eventt5.tn</a
        >
      </p>
      <p>Site : <a href="eventt5.tn" class="underline">eventt5.tn</a></p>
    </div>
  </div>
  <div class="border-t-1 py-8 px-20 flex justify-between">
    <p>Made with Angular</p>
    <button
      class="border-1 border-white p-[4px] px-[8px] rounded cursor-pointer hover:bg-white hover:text-neutral-800"
    >
      Go Back To Home
    </button>
  </div>
</div>
